:root {
  --color-text-main: #586bff;
  --color-text-btn: #97a3ff;
  --color-text-accent: #848484;
  --color-text-subtext: #bababa;
  --color-text-extra: #707070;
  --color-bg-extra: #dde2ec;
  --color-bg-main: #ffffff;
  --color-bg-subject: #f9fafb;
  --color-text-pink: #f37186;
  --color-bg-pink:#ffc0ca;

}

